*{
   
    box-sizing: border-box;
    background-color: black;
}
.display-flex{
    display: flex;
}
.main{
    margin-right: 500px;
}


.nav-main{
    border: 1px solid black;
    color: black;
    justify-content: space-between;
   
}
.head-line{
    
    font-size: 2.18rem;
    color: #E6533C;
    font-style: italic;
}
.btn{
    border: 1px solid rgba(128, 128, 128, 0.247);
    border-radius: 50px;
     position: relative;
     padding:10px;

}
.btn-head{
        color: white;
        padding: 5px;
        margin: 20px 20px;
        margin-left: 5px;
        border-radius: 6px;
        border:none;

}
.btn-hm{
    background-color: #E6533C;
    border-radius: 20px;
    padding: 10px;
}
.nav-hamburger-menu{
   display: none;
}

    
