@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap');
*{
    box-sizing: border-box;
    background-color:black;
    box-shadow: 4px 4px 10px rgba(119, 119, 119, 0);
}
body{
    margin: 0px;
    padding: 0px;
   
}
.header-section{
    background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0,0,0,0.7) ,url(images/plain-black-background-02fh7564l8qq4m6d.jpg));
}
.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.display{
    display: flex;
}
.main{
    margin-right: 500px;
}


.nav-main{
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    padding: 20px 50px;
    justify-content: space-between;
}
.head-line{
    
    font-size: 2.18rem;
    color: #E6533C;
    font-style: italic;
}
.btn{
    border: 1px solid rgba(128, 128, 128, 0.247);
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    gap: 20px;
}
.btn-head{
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: transparent;
    border:none;

}
.btn-hm{
    color: white;
    border: none;
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 30px;
}
.nav-hamburger-menu{
   display: none;
}
/*Title of the website*/
.Title-section{
    font-size: 4rem;
    font-weight: 600;
}
.playwrite-dk-uloopet-shape {
    font-family: "Playwrite DK Uloopet", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: italic;
  }
.Title-paragraph{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    width: 500px;
}
/*Title of website end*/
/*button of  title description*/
.btn-join{
    display: flex;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    color: white;
    font-weight: normal;
    padding: 10px;
    border: none;
}
.btn-join .btn-home , .btn-join .btn-download{
    padding: 10px;
    border-radius: 20px;
    white-space: nowrap;
    text-align: center;
}
.btn-join .btn-home{
    background-color: #E6533C;
    padding: 10px;
}
.btn-join .btn-download{
    color: white;
    border: 2px solid white;
    padding: 10px;
}
/*button ends  of title description*/
.t{
 display: block;
 width: 400px;
}
.fitness-image{
margin-left: 500px;

}
.img-t{
    margin-right: 580px;
   position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.btn-500-align{
    margin-top: -500px;
    margin-left:750px;
    margin-bottom:200px;
    text-align: center;
}
.btn-350-align{
    margin-left: 420px;
    margin-right: 100px;
    display: flex;
    align-items: center;
}
.btn-detail1{
  
    position: absolute;
    display: flex;
    width: 140px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.btn-detail1 .work-video , .btn-detail1 .work-des{
    background: transparent;
}
.btn-detail1 .work-video{
    font-size: 2rem;
    color: white;
    font-weight: bolder;
   
}
.btn-detail1 .work-des{
    font-size: 0.81rem;
    color: rgba(255, 255, 255, 0.65);
    font-weight: normal;
    margin-top: 5px;
}
 .btn-detail2{
    width: 140px;
    padding: 10px;
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    background-color: rgba(48, 48, 48, 0.54);
    color: #FAFAF9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-350 .btn-350{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(48, 48, 48, 0.54);
    vertical-align: middle;
    
}
.info-350{
    display: flex;
    margin-left: 5px;
    flex-direction: column;
}
.btn-detail2 .circle{
    height: 25px;
    width: 25px;
    background-color: 
    rgba(230, 83, 60, 1);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.info-350 .video-t{
    font-size: 0.84rem;
    font-weight: normal;
    background-color: rgba(48, 48, 48, 0.54);
    color:rgba(239, 237, 232, 0.65);

}

.Your-habit{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 200px;
    text-align: center;
    color:white;
}
.habit-pragraph{
    text-align: center;
    color:rgba(255, 255, 255, 0.5);

}
.img-1st{
    width:200px;
    border-radius: 200px;
}
.img1st-movement{
  font-size: 1rem;
  color: white;
  margin-left: 50px;
}
.img1st-pragraph{
    font-size: 0.81rem;
    color: rgba(255, 255, 255, 0.5);
    max-width: 350px;
    margin-left: 10px;
}
.div-1st{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    align-items: center;
}
.div-1st-details{
    
}