
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    background-color:black;
    box-shadow: 4px 4px 10px rgba(119, 119, 119, 0);
}

.display-flex{
    display: flex;
}
.main{
    margin-right: 500px;
}


.nav-main{
    border: 1px solid black;
    color: black;
    justify-content: space-between;
}
.head-line{
    
    font-size: 2.18rem;
    color: #E6533C;
    font-style: italic;
}
.btn{
    border: 1px solid rgba(128, 128, 128, 0.247);
    border-radius: 50px;
     position: relative;
     padding:10px;
}
.btn-head{
        color: white;
        padding: 5px;
        margin: 20px 20px;
        margin-left: 5px;
        border-radius: 6px;
        border:none;

}
.nav-hamburger-menu{
   display: none;
}
/*Title of the website*/
.Title-section{
    font-size: 4rem;
    font-weight: 600;
}
.span-shape{
    font-style: italic;
    font-weight: 900;
}
.Title-paragraph{
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 0.5);
    width: 500px;
}
/*Title of website end*/
/*button of  title description*/
.btn-join{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 10px;
    color: white;
    font-weight: normal;
    padding: 10px;
    border: none;
}
.btn-join .btn-hm , .btn-join .btn-download{
    padding: 10px;
    border-radius: 20px;
    white-space: nowrap;
}
.btn-join .btn-hm{
    background-color: #E6533C;
    border-radius: 20px;
    padding: 10px;
}
.btn-join .btn-download{
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px;
}
/*button ends  of title description*/
.img{
    justify-content: right;
    align-items: end;
}






.btn-detail1{
    width: 140px;
    padding: 10px;
    background-color:  rgba(255, 255, 255, 0.10);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: last baseline;
}
.btn-detail1 .work-video , .btn-detail1 .work-des{
    background: transparent;
}
.btn-detail1 .work-video{
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin: 0;
}
.btn-detail1 .work-des{
    font-size: 0.81rem;
    color: rgba(255, 255, 255, 0.65);
    font-weight: normal;
    margin-top: 5px;
}

.btn-detail2{
    width: 140px;
    padding: 10px;
    border:1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: rgba(48, 48, 48, 0.54);
    color: #FAFAF9;
    display: flex;
    align-items: center;
    justify-content: start;
}
.info-350 .btn-350{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(48, 48, 48, 0.54);
    vertical-align: middle;
    
}
.info-350{
    display: flex;
    margin-left: 5px;
    flex-direction: column;
}
.btn-detail2 .circle{
    height: 25px;
    width: 25px;
    background-color: 
    rgba(230, 83, 60, 1);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.info-350 .video-t{
    font-size: 0.84rem;
    font-weight: normal;
    background-color: rgba(48, 48, 48, 0.54);
    color:rgba(239, 237, 232, 0.65);

}

